html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }

  header {
    background: rgb(19, 205, 238);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: rgba(252, 252, 252, 0.993);
    line-height: 100px;
    margin: 0;
  }
  h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.993);
  }

   article {
    padding: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.555);
    text-align: center;
  }
  .container {
    max-width: 100%; /* Largura máxima desejada */
    max-height: 100%;
   padding-left: 100px;
   background-color: aqua;

  }
